body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.tela-cheia {
    width: 100%;
    height: 100%;
    background-color: #333; /* Cor de fundo da div */
    color: #fff; /* Cor do texto dentro da div */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vw; /* Defina o tamanho do texto em relação à largura da janela */
    font-family: Arial, sans-serif;
}

.title-book {
    margin: 10px;
    text-align: center;
    font-size: 3vw; /* Defina o tamanho do texto em relação à largura da janela */
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.filtros {
    margin-top: 10px;
    margin-bottom: 50px;
}

button {
    border-radius: 10px;
    background-color: white;
    color: gray;
}

select {
    border-radius: 10px;
}